<nav style="height:0px;"> <!-- navbar content here  --> </nav>




 <div id="tx-sidebar" class="sidenav  ">




 <div class="sidebar-page" v-if="overviewType=='tx_list'" data-page-type="tx_list" v-cloak >

   <div class="transaction-list">
     <div class="" v-for="(item, index) in txHistory">
       {{ item.txid }}
     </div>
   </div>


 </div>


<div class="sidebar-page"  v-if="overviewType=='standard_tx'" data-page-type="standard_tx" v-cloak >



   <h4 class="center">{{title}}</h4>

  <div class=" ">

     <div class="sidebar-header">

       <div class="row">
         <div class="col s5 center">
           <div class="blockie-icon round-canvas-edges" id="blockie-from"> </div>
           <label style="width:60px;" class="overflow-ellipsis"> {{ txOverview.from }} </label>
         </div>
          <div class="col s2 center">
              <div class="icon icon-right-open" style="margin-top:30px"></div>
           </div>
          <div class="col s5 center">
           <div class="blockie-icon round-canvas-edges" id="blockie-to"> </div>
            <label style="width:60px;" class="overflow-ellipsis"> {{ txOverview.to }} </label>
         </div>


       </div>


       <div class="row margin-0 ">
         <div class="col s6 center blue-text margin-0">
           {{ parseFloat(accountStatus.ethBalance).toPrecision(3) }} ETH
         </div>
       </div>

     </div>


   </div>



   <ul class="padding-1 margin-0">

     <div class="error-container card red lighten-1 white-text padding-1" v-if="txOverview.txError" v-cloak>
        {{ txOverview.txError }}
     </div>

   <li class="row margin-0">
     <div class="sidebar-parameter-container col s4">
       <div class="sidebar-parameter-label">
         ETH Amount
       </div>
     </div>
     <div class="simple-input input-sm col s6">
       <input v-model='txOverview.ethAmount'>    </input>
     </div>
   </li>
   <li class="row margin-0">
     <div class="sidebar-parameter-container col s4">
       <div class="sidebar-parameter-label">
         Gas Limit
       </div>
     </div>
     <div class="simple-input input-sm col s6">
       <input v-model='txOverview.gasCost'>    </input>
     </div>
     <div class="  input-sm col s2">
       <label >    </label>
     </div>
   </li>
   <li class="row margin-0">
     <div class="sidebar-parameter-container col s4">
       <div class="sidebar-parameter-label">
         Gas Price
       </div>
     </div>
     <div class="simple-input input-sm col s6">
       <input v-model='gasPrice'>    </input>
     </div>
     <div class="  input-sm col s2">
       <label >  GWEI </label>
     </div>

   </li>
   <li class="row margin-0">
     <div class="sidebar-parameter-container col s4">
       <div class="sidebar-parameter-label">
         Max TX Fee
       </div>
     </div>
     <div class="col s6">
       <div class='subtitle'> {{maxFee}} </div>
     </div>
     <div class="  input-sm col s2">
       <label >  ETH </label>
     </div>
   </li>
   <li class="row margin-0 ">
     <div class="sidebar-parameter-container col s4">
       <div class="sidebar-parameter-label">
         Max Total
       </div>
     </div>
     <div class="col s6">
       <div class='subtitle'> {{maxTotal}} </div>
     </div>
     <div class="  input-sm col s2">
       <label >  ETH </label>
     </div>
   </li>


   <div class="error-container card red lighten-2 white-text padding-1" v-if="minorError" v-cloak>
      {{ minorError }}
   </div>


   <li class=" row center">
     <div class="btn green lighten-1 hoverable clickable" v-if="!txOverview.txError && !minorError"  v-on:click="clickButton('accept')">
       Accept
     </div>

     <div class="btn red darken-2 hoverable clickable" v-on:click="clickButton('reject')">
       Reject
     </div>

   </li>
 </ul>




 </div> <!-- standard_tx -->

 </div>
